a{
	color:#c11f28;
	text-decoration:none;
}

a:hover{
	color:#c11f28;
	text-decoration:underline;
}

.color1{
	color:#ad151d;
}

.top {
	background:#313131;
	background: url('http://media.insidepulse.com/shared/images/v7/bar.png') repeat-x #313131;
	text-align:center;
	border:0;
	-webkit-box-shadow:none;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:5px solid #c11f28;
}

.top img.logo{
	text-align:center;
}

.containervx{
	padding-top:80px;
}