a{
	color:#055087;
	text-decoration:none;
}

a:hover{
	color:#055087;
	text-decoration:underline;
}

.color1{
	color:#055087;
}

.top {
	background:#055087;
	text-align:center;
}

.top img.logo{
	padding-top:10px;
}

.containervx{
	padding-top:170px;
}