.content_left{
	width:660px;
	background:url('http://media.insidepulse.com/shared/images/v7/whitebg.png') bottom left no-repeat #ffffff;
	float:left;
}


.article_headline{
	font-size:36px;
	font-weight:bold;
	padding-bottom:5px;
}

.article_subheadline{
	background:#eeeeee;
	height:30px;
	padding-top:6px;
	padding-bottom:6px;
}

.article_subheadline_left{
	width:320px;
	padding-left:10px;
	height:20px;
	display:block;
	float:left;
	font-size:12px;
}

.article_subheadline_right{
	width:300px;
	height:20px;
	float:right;
}

.article_body{
	font-size:16px;
	line-height:20px;
	padding:10px;
	padding-top:0px;
}


.article_body img{
	padding-left:5px;
	padding-right:5px;
}



.article_box_header{
}

.social_facebooklike{
	width:100px;
	height:20px;
	overflow:hidden;
	float:left;
}

.social_twitter{
	width:110px;
	height:20px;
	overflow:hidden;
	float:left;
}

.social_googleplus{
	width:80px;
	height:20px;
	overflow:hidden;
	float:left;
}



/* similar to topstory_scroll */
.article_box_body{
	height:200px;
	overflow:hidden;
	background:#f4f4f4;
	border-top:1px #d7d7d7 solid;
	border-bottom:1px #d7d7d7 solid;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
}


.article_box_header_left{
	float:left;
}


.article_box_header_left h3{
	margin:0px;
}

.article_box_header_right{
	width:100px;
	float:right;
	font-size:.75em;
	padding-top:5px;
}

.article_box_cell{
	text-align:center;
	width:180px;
	float:left;
	padding:8px;
}

.article_box_cell a{
	font-size:.8em;
}

.article_box_cell img{
	width:170px;
	height:85px;
}


/*** article_authorbox **/
.article_authorbox_body{
	min-height: 200px;
	height: auto !important;
	height: 200px;
	background:#f4f4f4;
	border-top:1px #d7d7d7 solid;
	border-bottom:1px #d7d7d7 solid;
	margin-top:10px;
	margin-bottom:10px;
	background:url('http://media.insidepulse.com/shared/images/v7/greybg.png') top right no-repeat #f4f4f4;
	font-size:.825em;
}

.article_authorbox_bodyleft{
	width:25%;
	height:140px;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	float:left;

}

.article_authorbox_bodyleft img{
	width:120px;
	height:120px;
	padding:10px;
}

.article_authorbox_bodyright{
	width:75%;
	min-height: 100px;
	height: auto !important;
	height: 100px;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	float:right;
	font-size:.75em;

}


.article_authorbox_cell{
	width:50px;
	height:50px;
	float:left;
}

.article_authorbox_cell img{
	width:45px;
	height:45px;
	padding:1px;
	border: 2px solid #bfbfd0;
}

.article_box_related{
	float:right;
	margin-right:5px;

}


